<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA-CNaDva4ws0__M-5kbOEPQf0IArsmg0k</string>
	<key>GCM_SENDER_ID</key>
	<string>303202587558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>won.Week4</string>
	<key>PROJECT_ID</key>
	<string>swift-login-system-practice</string>
	<key>STORAGE_BUCKET</key>
	<string>swift-login-system-practice.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303202587558:ios:4dce212eba14511c7d7567</string>
</dict>
</plist>